@model BudgetApp.Models.Category

<div class="modal-header">
    <h5 class="modal-title">Edit Category</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
</div>
<div class="modal-body">
    <form asp-action="Edit" method="post" data-ajax="true">
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Save</button>
    </form>
</div>